@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400;500;600;700;800&display=swap');

*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

html{
  max-width: 80em;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  background-image: url("/images/ArcadeCarpet.png");  
  background-size: 600px 600px;
  height: 100%;
  color: white;
}

h1, h2, h3, h4{
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.pageHeading{
  font-size: 2.25em;
}

.gamePageHeading{
  padding: 1em 0 0 0;
}

.paddingS{
  padding: .5em 0;
}

.paddingM{
  padding: 1em 0;
}

.paddingL{
  padding: 1.5em 0;
}

.marginS{
  margin: .5em 0;
}

.marginM{
  margin: 1em 0;
}

.marginL{
  margin: 1.5em 0;
}

.flexContainer{
  display: flex;
  flex-flow: row wrap;
}

.flexContainerCol{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

body, #myArcade{
  height: 100%;
}

a{
  text-decoration: none;
  color: white;
}

body{
  height: 100%;
  width: 100%;
}

#myArcade{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  background-color: #006b99;
  flex: 1;
}

.errorText{
  color: #fad400;
  font-weight: bold;
  margin: .5em 0;
}

input, select option{
  color: black;
}

.button, .button:visited{
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: #c32469;
  color: white;
  font-size: 25px;
  padding: .25em .5em;
  border: none;
  width: fit-content;
  align-self: end;
  text-decoration: none;
} 

.button:hover{
  background-color: #b82263;
}

.button:active{
  background-color: #9e1752;
}

.editButton, .editButton:visited{
  background-color: #14af00;
} 

.editButton:hover{
  background-color: #13a100;
} 

.editButton:active{
  background-color: #108500;
}

.deleteButton, .deleteButton:visited{
  background-color: #cf0000;
} 

.deleteButton:hover{
  background-color: #c40000;
} 


.deleteButton:active{
  background-color: #ba0101;
}

.pageLink, .pageLink:visited{
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
}

.pageLink:hover, .pageLink:active{
  color: #fad400;
} 

.returnLink{
  margin-bottom: 1.5em;
}

.messageBox{
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color:#ee3586;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 1em 0;
}

.emoji{
  width: 5.5em;
}

.emojiBig{
  width: 8.5em;
  margin: 1em 0 3.5em 0;
}

.center{
  margin: 0 auto;
}

.emptyMessage{
  font-size: 2em;
}

.emptyArcade{
  text-align: center;
}

.linkButton{
  background-color: white;
  color: #006b99;
  text-align: center;
  font-weight: bold;
  padding: .25em;
  width: 5em;
}

.linkButton + .linkButton{
  margin-top: .3em;
}

.content{
  width: fit-content;
  margin: 0 auto;
  height: 100%;
  padding: 0 1em;
}

.deleteContent{
  width: fit-content;
  height: 100%;
  padding: 0 2em;
  text-align: center;
  margin: 0 auto;
}

.readOnlyInput{
  background: #ee3586;
  color: white;
  border: 3px solid white;
}

.star{
  font-size: 1.3em;
}

#indexLinks{
  padding-bottom: 2em;
}


/* <<<<<< TEMPLATE STLYES >>>>>> */
/* Header Styles */

header{
  background-color: #ee3586;
  padding: .5em .25em;
}

#headerContent{
  align-items: center;
  justify-content:space-between;
}

#headerContent a{
  text-decoration: none;
}

#siteLogo{
  margin-left: 1em;
  color: white;
}

#logoText{
  text-align: center;
}

#logoText h2{
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
}

#logoText p{
  margin: .25em 0;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

#logoFlex{
  align-items: center;
}

#logoIcon{
  font-size: 2.5em;
}

#siteMenu{
  font-size: 20px;
  margin-right: 1em;
}

.headerLink{
  list-style: none;
  font-size: .8em;
}

.headerLink a, .headerLink a:visited{
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: white;
}

.headerLink a:hover, .headerLink a:active{
  color: #fad400;
}

.headerLink + .headerLink{
  margin-left: 1em;
}

.menuIcon{
  display: none;
  font-size: 60px;
}

#headerIcon, #headerIcon:visited{
  color: white;
}

#headerIcon:hover, #headerIcon:active{
  cursor: pointer; 
}

#siteMenuBelowHeader{
  display: none;
}

.belowHeaderLink, .belowHeaderLink:visited{
  list-style: none;
  background-color: #9e1752;
  padding: .5em;
  border-top: 2px solid white;
}

.belowHeaderLink:hover{
  background-color: #891547;
} 

.belowHeaderLink:active{
 background-color: #640e34;
}

.belowHeaderLinkBottom{
  border-bottom: 2px solid white;
}

.belowHeaderLink a{
  list-style: none;
}


@media screen and (max-width: 800px){

  #siteMenu{
    position: relative;
  }  

  #headerLinks{
    display: none;
  }

  .menuIcon{
    display: flex;
  }
  
}


/* Footer Styles */
footer{
  background-color: #ee3586;
  padding: .5em 1em;
  color: white;
}


/* <<<<<< INPUT/FORM STYLES >>>>>> */

/* Add/Edit Forms */

.editAddHeading{
  max-width: 20em;
}

.editOldName{
  font-size: .8em;
}

.inputForm{
  width: fit-content;
}

.inputGroup input, .inputGroup label, .inputGroup select, .errorMessage{
  font-size: 1.5em;
  font-family: 'Exo 2', sans-serif;
}

.inputGroup label{
  margin-right: 2em;
}

.inputGroup + .inputGroup{
  margin-top: 2em;
}

.inputGroup input, .inputGroup select{
  float: right;
}

.summaryTextarea{
  width: 100%;
  height: 10em;
  margin-top: .75em;
  font-size: 1.25em;
  resize: none;
  font-family: 'Exo 2', sans-serif;
}

.inputButtonFlex{
  justify-content: space-between;
}


@media screen and (max-width: 600px){
  .inputGroup input, .inputGroup label, .inputGroup select, .errorMessage{
    font-size: 1.15em;
  }

  .summaryTextarea{
    font-size: 1em;
  }

  .inputPageHeading{
    font-size: 1.85em;
  }

}


/* <<<<<< INDEX STLYES >>>>>> */

#indexContent{
  height: 100%;
}

#indexTitle{
  font-size: 2.25em;
  margin: 65px 0 65px 0;
}

.indexHeading{
  position: relative;
  align-items: center;
  justify-content: center;
}

#indexEmoji{
  width: 4.5em;
  height: 4.5em;
  margin-left: 1em;
  top: -1em;
  right: 20em;
}

.gameSystems{
  justify-content: space-around;
  align-items: center;
  margin: 8 5px 0;
}

#featuredGames{
  max-width: fit-content;
  margin: 65px auto;
}

#popularHeading{
  width: 80%;
  margin: 0 auto 20px auto;
  font-style: italic;
}

.gameDiv{
  text-align: center;
}

.boxartBox{
  width: 18em;
  height: 18em;
}

.gameAlign{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.gameAlign a{
  height: 100%;
  width: 100%;
}

.gameBoxart{
  height: 100%;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#indexLinks{
  justify-content: space-around;
}

.indexLink{
  font-size: 1.45em;
}

.systemVector{
  height: 8em;
}

#portableSystem{
  height: 5.5em;
}

#popGames{
  max-width: 55em;
  justify-content: space-between;
}

.arrowLeft {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent; 
  border-right: 35px solid white;
  margin: 0 1.5em;
  position: relative;
  top: calc(50% - 35px);
}

.arrowLeft:hover{
  border-right: 35px solid #fad400;
}

.arrowRight {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid white;
  position: relative;
  top: calc(50% - 35px);
  margin: 0 1.5em;
}

.arrowRight:hover{
  border-left: 35px solid #fad400;
}


@media screen and (max-width: 1050px){
  #gameDiv3{
    display: none;
  }
}


@media screen and (max-width: 770px){

  #gameDiv2{
    display: none;
  }

}

@media screen and (max-width: 600px){
  .gameSystems{
    display: none;

  }

  .indexHeading{
    flex-direction: column;
  }

  #indexTitle{
    margin: 65px 0 25px 0;
  }

  #indexEmoji{
    /* margin-bottom: 65px; */
    margin-left: initial;
  }

  #indexLinks{
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  .indexLink + .indexLink{
    margin-top: 1em;
  }
  
}


/* <<<<<< LIST Styles >>>>>> */

/* Arcade List Styles */

#arcadesTable{
  table-layout: fixed;
  border-collapse: collapse;
}

#arcadesTable th {
  background-color: white;
  color: #006b99;
}

.arcadeAdminHeading + .arcadeAdminHeading{
  margin-left: 1em;
}

.arcadeTextEntry {
  text-align: center;
  margin: 0 1em;
}

.arcadeLocationData {
  margin: 0 1em;
}

.arcadeAdminUser{
  max-width: 12em;
}

.arcadeAdminGame{
  width: 12em;
}

.arcadeAdminPlatform{
  width: 8em;
}

.arcadeAdminPlaytime{
  max-width: 3.5em;
}

.arcadeAdminDate{
  max-width: 5.5em;
}

.arcadeAdminRating{
  max-width: 5em;
}

.arcadeAdminLocation{
  max-width: 12em;
  margin: 0 1em;
}

.narrowButtonArcadeAdmin{
  display: none;
}

@media screen and (max-width: 1200px){
  .narrowButtonArcadeAdmin{
    display: block;
  }

  .wideButtonArcadeAdmin{
    display: none;
  }
}

@media screen and (max-width: 1140px){
  .adminCompleteHeading, #arcadeAdminCompleteCell{
    display: none;
  }
}

@media screen and (max-width: 1060px){
  .adminRatingHeading, #arcadeAdminRatingCell{
    display: none;
  }
}

@media screen and (max-width: 940px){
  .adminDateHeading, #arcadeAdminDateCell{
    display: none;
  }
}

@media screen and (max-width: 830px){
  .adminTimeHeading, #arcadeAdminTimeCell{
    display: none;
  }
}

@media screen and (max-width: 730px){
  .adminLocationHeading, #arcadeAdminLocationCell{
    display: none;
  }
}

@media screen and (max-width: 620px){
  .adminPlatformHeading, #arcadeAdminPlatformCell{
    display: none;
  }
}



/* Non-Admin Arcade List */

.arcadeListGameName{
  width: 10em;
}

.arcadePlatformData {
  width: 8em;
}

.arcadeLocationEntry {
  width: fit-content;
  margin: 0 auto;
  max-width: 12em;
}

.arcadePlaytimeEntry{
  max-width: 3.5em;
  margin: 0 auto;
}

.arcadeDateEntry{
  max-width: 5.5em;
  margin: 0 auto;
}

.arcadeRatingEntry{
  width: 8em;
}

.arcadeEntry td{
  border-top: 2px solid white;
  padding: 1.5em 0;
}

.lastArcadeEntry td{
  border-top: 2px solid white;
  border-bottom: 2.5px solid white;
  padding: 1.5em 0;
}

.arcadeButtons{
  margin: 0 1em;
}

.arcadeButton, .arcadeButton:visited{
  font-size: 1em;
  text-align: center;
  width: 5em;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: #c32469;
  color: white;
  padding: .25em .5em;
  border: none;
  align-self: end;
  text-decoration: none;
  margin: 0 auto;
}

.arcadeButton:hover{
  background-color: #b82263;
}

.arcadeButton:active{
  background-color: #9e1752;
}

.arcadeEdit, .arcadeEdit:visited, .arcadeEdit:hover, .arcadeEdit:active {
  margin-bottom: .75em;
}

.arcadeListGameName{
  font-weight: bold;
  margin-top: 1em;
}

.narrowButtonArcade{
  display: none;
}


@media screen and (max-width: 1110px){
  #arcadeRatingHeading, .arcadeRatingTD{
    display: none;
  }
}

@media screen and (max-width: 950px){
  #arcadeCompleteHeading, .arcadeCompleteTD{
    display: none;
  }
}

@media screen and (max-width: 830px){
  #arcadeDateHeading, .arcadeDateTD{
    display: none;
  }
}

@media screen and (max-width: 720px){
  #arcadePlatformHeading, .arcadePlatformTD{
    display: none;
  }
  .wideButtonArcade{
    display: none;
  }
  .narrowButtonArcade{
    display: block;
  }
  

}




/* Game List Styles */

#gamesContent{
  margin: 0 auto;
  max-width: 1000px;
  background-color: #be125d;
}

#gamesCotent h1{
  margin: 40px 0;
}

#gamesTable{
  table-layout: fixed;
  border-collapse: collapse;
}

#gamesTable th {
  background-color: white;
  
}

.listSortLink, .listSortLink:visited{
  color: #006b99;
}

.listSortLink:hover, .listSortLink:active{
  color: #ee3586;
}

.linkBox{
  margin: 0 1em;
}

.gameEntryButtons {
  text-align: center;
  width: 8em;
}

.gameEntry td{
  border-top: 2px solid white;
  padding: 1.5em 0;
  width: fit-content;
}

.gameInfoBox{
  max-width: 12em;
}

.gameTextBox{
  max-width: 11.5em;
  margin: 0 1em;
  text-align: center;
}

.gameEntryCover, .gameEntryRating{
  text-align: center;
  width: 8em;
}

.lastGameEntryAdmin td{

  border-top: 2px solid white;
  border-bottom: 2.1px solid white;
  padding: 1.5em 0;
  
}

.lastGameEntry td{
  border-top: 2px solid white;
  padding: 1.5em 0;
}


.gameEntryBoxart{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100px;
  vertical-align: top;
}

.gameEntryName a, .gameEntryName a:visited, .arcadeAdminLink, .arcadeAdminLink:visited{
  font-size: 1.15em;
  font-weight: bold;
}

.gameEntryName a:hover, .gameEntryName a:active, .arcadeAdminLink:hover, .arcadeAdminLink:active{
  color:#fad400
}

#gameListButton{
  width: fit-content;
}

.ratingSymbol{
  width: 4em;
  border: 3px solid black;
}

.narrowButtonGame{
  display: none;
}

@media screen and (max-width: 940px){
 .gameEntryRating, #gameRatingHeading{
  display: none;
 }
}

@media screen and (max-width: 830px){
  .gameReleaseCell, #gameReleaseHeading{
   display: none;
  }
}

@media screen and (max-width: 685px){
  .gameGenreCell, #gameGenreHeading{
   display: none;
  }
  #gamesListHeading{
    font-size: 1.75em;
  }

  .narrowButtonGame{
    display: block;
  }
  .wideButtonGame{
    display: none;
  }
}


/* Game Admin List Styles */
.udButton, .udButton:visited{
  font-size: 1em;
  text-align: center;
  width: 5em;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: #c32469;
  color: white;
  padding: .25em .5em;
  border: none;
  align-self: end;
  text-decoration: none;
  margin: 0 auto;
  position: relative;
}

.buttonIcon{
  position: relative;
  top: 1px;
}

.udButtonIcon{
  width: 2em;
  font-size: 1.25em;
}

.udButton:hover{
  background-color: #b82263;
}

.udButton:active{
  background-color: #9e1752;
}

.udButtonEdit, .udButtonEdit:visited, .udButtonEdit:hover, .udButtonEdit:active {
  margin-bottom: .75em;
}


/* <<<<<< PAGE Styles >>>>>> */

.dataLabel{
  font-weight: bold;
  font-size: 1.05em;
}

/* Game Page Setting */

#gameContent{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.gameFlex{
  height: 1px;
  min-height: 35em;
  width: fit-content;
}

.gameButtonBox{
  width: fit-content;
  margin: .75em 0 1.4em 0;
}

.buttonFlex{
  margin-top: 1em;
}

.buttonFlex a{
  margin-right: 1em;
}

.gamePageImageBox{
  height: 100%;
  flex: .5 0 0;
}

.gamePageImageFlex{
  align-items: center;
  height: 100%;
  position: relative;
}

.gamePageBoxart{
  width: 300px;
  vertical-align: top;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.gamePageData{
  flex: 1 0 0;
}

.gamePageData{
  padding: 0 2.5em;
}

.gamePageData .flexContainerCol{
  justify-content: center;
  height: 100%;
}

.gameData{
  font-size: 1.05em;
}

.gameNameData{
  width: 9em;
}

.gamePlaformData{
  width: 7em;
}

.gameGenreData{
  width: 7em;
}

.gameDateData{
  width: 6.95em;  
}


.gameReturn{
  margin-top: 1.75em;

}

.gameData + .gameData{
  margin-top: 1em;
}

.gameDataFlex{
  width: 100%;
  height: 100%;
  justify-content: center;
}

.arcadeAddLinkBox{
  text-align: center;
  display: block;
}

.gameRating{
  margin: .5em 0;
}


@media screen and (max-width: 768px){

  .gamePageHeading{
    padding-bottom: 1em;
  }

  .gamePageBoxart{
    margin: 0 auto;
  }

  .gameFlex{
    height: initial;
    flex-direction: column;
  }

  .gamePageData{
    padding-top: 2em;
  }

  .gameButtonBox{
    margin-left: 2.5em;
    margin-top: 1.5em;
  }
}


/* Userpage Styles */

#userContent{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.userData + .userData{
  margin-top: 1em;
}

.userData{
  font-size: 1.15em;
}

.userButtonBox{
  width: fit-content;
  margin: 2em 0 2em 0;
}



/* User List Styles */

#usersTable{
  table-layout: fixed;
  border-collapse: collapse;
}

#usersTable th {
  background-color: white;
  color: #006b99;
}

.userTextEntry {
  text-align: center;
  width: 10em;
}

.userEmailEntry {
  width: 18em;
  text-align: center;
}

.userEntry td{
  border-top: 2px solid white;
  padding: 1.5em 0;
}

.lastUserEntry td{
  border-top: 2.25px solid white;
  border-bottom: 2px solid white;
  padding: 1.5em 0;
}

.userButtons{
  width: 10em;
}

.userNameEntry{
  width: 12.5em;
  text-align: center;
}

.userNameEntry a, .userNameEntry a:visited{
  font-size: 1em;
  font-weight: bold;
}

.userNameEntry a:hover, .userNameEntry a:active{
  color:#fad400
}

.userCellData{
  margin: 0 .5em;

}

.narrowButtonUser{
  display: none;
}

@media screen and (max-width: 600px){

  .wideButtonUser{
    display: none;
  }

  .narrowButtonUser{
    display: block;
  }

  .listSortLink, .userCellData{
    font-size: .9em;

  }

}


/* Delete Confirm Pages */
.deleteGroups{
  justify-content: space-between;
}


/* Admin Page Styles */

#dashboardContent{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 1em;
}

#dashboardContent h1{
  text-align: center;
}

#dashboardList{
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2em;
  text-align: center;
}

.adminButton{
  width: 9em;
}

#dashboardList li{
  list-style: none;
}

@media screen and (max-width: 768px){
  #dashboardList{
    margin-top: 0;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }

  .adminButton{
    align-self: center;
  }
  
  .adminButton + .adminButton{
    margin-top: 2em;
  }
  
}


/* Animations */

.imageGrow {
  transform-origin: center;
  transition: transform .4s;
}

.imageGrow:hover{
  -ms-transform: scale(1.07,1.07);
  -webkit-transform: scale(1.07,1.07);
  transform: scale(1.07,1.07)
}

.imageSpin {
  transform-origin: center;
  transition: transform 1s;
}

.imageSpin:hover {
  transform: rotate(360deg);
}

.joystickHop:hover{
  animation: hop .5s;
}

@keyframes hop {
  
  0%{
    transform: translateY(0px);
  }

  25%{  
    transform: translateY(-10px);
  }
  
  50%{  
  transform: translateY(0);
  }

  75%{  
  transform: translateY(-10px);
  }

  100%{
    transform: translateY(0);
  }

}